.card{
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    padding: 20px;
    background-color: #e0fbfc;
    border-radius: 10%;
    color: black;
    &__img{
        width: 100px;
    }
}


